.home {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow-x: hidden;
}

.gameButton {
    text-transform: uppercase;
    text-align: start;
    font-size: 2rem;
    padding: 2rem;
    background: rgb(199, 78, 78);
    width: 90%;
    border-radius: 1rem 0rem 0rem 1rem;
    transform: translateX(1rem);
    transition: 0.2s ease-in-out;

    &:hover,
    &:focus {
        transform: translateX(0rem);
    }
}
