.cell {    
    position: relative;
    border: none;
    width: 100%;
    position: relative;
    aspect-ratio: 1;
}

.cell::before,
.cell::after {
    z-index: 1;
    content: "";
    position: absolute;
    background-color: rgb(170, 170, 170);
    bottom: 0;
    width: 1px;
    height: 1px;
    border-radius: 50%;
}

.cell::before {
    left: 0;
    transform: translateX(-50%) translateY(50%);
}

.cell::after {
    right: 0;
    transform: translateX(50%) translateY(50%);
}