.gamePreviewList {
    min-height: 100%;
    width: 100%;
    gap: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
  
.gamePreview {
    width: auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid white;
    border-right:none;
}
