body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: absolute;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game {
  display: flex;
  background-color: black;
  gap: 12px;
  width: calc(100% - 48px);
  height: calc(100vh - 48px);
  padding: 24px;
  grid-template-rows: 1fr; /* Adjust fractions as needed */
  grid-template-columns: auto 1fr; /* Adjust fractions as needed */
  gap: 10px;
}

.game-sidebar {
  height: calc(100% - 24px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgray;
  gap: 12px;
  border-radius: 12px;
  padding: 12px;
}

.score  {
  width: 100%;
  flex: 1;
}

.next-piece {
  width: calc(100% - 4px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  flex: 2;
  gap: 12px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.game-previews {
  flex: 1;
  min-height: 96px;
  background-color: lightgray;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.game-preview-list {
  min-height: 100%;
  width: 100%;
  gap: 12px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.game-preview {
  width: auto;
  padding: 12px;
  background-color: beige;
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.game-previews::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .game {
    flex-direction: column-reverse;
  }

  .game-previews {
    flex: 0 1 auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .game-preview-list {
    flex-direction: row;
  }

  .game-preview {
    flex-direction: column;
  }
}